<% provide(:title, "About") %>
<h1>About</h1>
<p class="center-text">
    This is a sample application that I use to practice developing with Ruby on Rails. <br>
    Many features will likely be a work in progress as I build on the application and my knowledge of RoR. <br>
    My appreciation to Michael Hartl, the author of the excellent textbook "The Ruby on Rails Tutorial" <br>
    through which much of that knowledge was gained.
</p>