<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div id="offset-from-center">
    <ul class="contact-list">
        <li>Name: Sean A. Bybee</li>
        <li>Email: bybees01@gmail.com</li>
        <li>Phone: 812-453-1268</li>
    </ul>
</div>