<div class="center jumbotron">
    <%= link_to image_tag("rails.png", id: "rails-logo", alt: "Rails Logo"), 'http://rubyonrails.org' %>
    <h1>Ruby on Rails Practice App</h1>
    <h2>This is the home page for the Ruby on Rails Tutorial sample application.</h2>
    <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
</div>