@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

body {
    padding-top: 60px;
}

section{
    overflow: auto;
}

textarea{
    resize: vertical;
}

.center{
    text-align: center;
}

.center h1{
    margin-bottom: 10px;
}

#offset-from-center{
    text-align: center;
}

/* Typography */

h1, h2, h3, h4, h5, h6{
    line-height: 1;
}

h1{
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2{
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p{
    font-size: 1.1em;
    line-height: 1.7em;
}

.center-text{
    text-align: center;
}

/*Home Page*/

#rails-logo{
    height: 100px;
    width: 75px;
}

/*Contact Page*/

.contact-list{
    list-style: none;
    margin-right: 35px; //offset from center of page by nesting in centered div
}

/*header*/

#logo{
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}

.top-nav{
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255)    
}

.top-nav:hover{
    text-decoration: none;
}

/*footer*/

footer{
    //margin-top: 95px;
    //padding-top: 15px;
    border-top: 1px solid #eaeaea;
    color: #777;
    position: fixed;
    bottom: 0;
    width: 100%;
    small{
        float: left;
    }
    p{
        padding-top: 10px;
        padding-left: 15px;
    }
    ul{
        float: right;
        list-style: none;
        padding-top: 10px;
        padding-right: 15px;
        li{
            float: left;
            margin-left: 15px;
        }
    }
}