<footer class="footer">
    <small>
        <p>A sample Ruby on Rails web application developed using the textbook "The Ruby on Rails Tutorial"</p>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   'about' %></li>
            <li><%= link_to "Contact", 'contact' %></li>
            <li><%= link_to "Help",   'help' %></li>
        </ul>
    </nav>
</footer>