<header class="navbar-fixed-top navbar-inverse">
    <div class="container">     
        <%= link_to "sample app", "home", id: "logo" %>   
        <nav>    
            <%= link_to "Home",   'home', class:"top-nav" %>
            <%= link_to "Log in", '#', class:"top-nav" %>            
        </nav>
    </div>
</header>