<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Adds the partial layout "_header" to the top of the page -->
    <%= render partial: "layouts/header" %>
    <div class="container">
      <!-- Adds the content of each view to the body of the page -->
      <%= yield %>
    </div>
    <!-- Adds the partial layout "_footer" to the bottom of the page -->
    <%= render partial: "layouts/footer" %>
  </body>
</html>
